#################################################
# PLATFORMIO
#################################################

.pio/
.pioenvs/
.piolibdeps/
.platformio/

# VS Code (ignore everywhere)
**/.vscode/
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json


#################################################
# BUILD ARTIFACTS (C / C++)
#################################################

# Executables
*.exe
*.out
*.app

# Object files
*.o
*.obj
*.ko

# Libraries
*.a
*.lib
*.la
*.lo

# Shared libraries
*.dll
*.so
*.so.*
*.dylib

# Debug symbols
*.pdb
*.idb
*.dSYM/
*.su
*.dwo

# Linker files
*.elf
*.bin
*.hex
*.map
*.exp
*.ilk

#################################################
# COMPILER TEMP FILES
#################################################

*.d
*.gch
*.pch

#################################################
# OS FILES
#################################################

.DS_Store
Thumbs.db

#################################################
# LINUX KERNEL (safe ignore)
#################################################

*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
